$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 40px;
$pd-8: 45px;
$pd-9: 50px;
$pd-10: 55px;

$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 22px;
$mg-5: 25px;
$mg-6: 30px;
$mg-7: 35px;
$mg-8: 40px;
$mg-9: 45px;
$mg-10: 50px;
$mg-11: 55px;

$fs-1: 9px;
$fs-2: 10px;
$fs-3: 11px;
$fs-4: 12px;
$fs-5: 14px;
$fs-6: 15px;
$fs-7: 18px;
$fs-8: 20px;
$fs-9: 22px;
$fs-10: 25px;
$fs-11: 27px;
$fs-12: 30px;
$fs-13: 32px;
$fs-14: 35px;
$fs-15: 37px;
$fs-16: 40px;
$fs-17: 42px;
$fs-18: 45px;
$fs-19: 47px;
$fs-20: 50px;
$fs-21: 52px;
$fs-22: 55px;
$fs-23: 57px;
$fs-24: 60px;
$fs-25: 62px;

$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;
$fw-10: bold;
$fw-11: bolder;



$color-1: #232f3f;
$color-2: #ff7e00;
$color-3: gray;
$color-4: white;
$color-5: #de7106;
$color-6: #80808052;
$color-7: #ebebeb;
$color-8: #e3e1e1;
$color-9: #4f4f4f;
$color-10 : #fbfbfb6e;